.contact-us
  background-image: url('../img/contact-us-bg.jpg')
  background-size: cover
  background-repeat: no-repeat
  background-position: top
  padding: $global-padding $global-padding*2


.contact-us-title
  line-height: 1
  text-transform: uppercase

.contact-us-subtitle
  text-transform: uppercase
  font-size: 1.5em
  line-height: 1.3em
  max-width: 640px
  margin: $global-padding/2 auto $global-padding

.contact-us-form
  background-color: $white
  padding: $global-padding
  box-shadow: 0 0 1px rgba(0,0,0,.1)
  position: relative

.contact-us-submit
  display: block
  position: absolute
  bottom: -50px
  left: calc(50% - 75px)
