.footer
  padding: $global-padding*2 $global-padding $global-padding/2

.footer-text, .footer-copyright
  font-size: 1.2em
  a
    font-size: 1em

.footer-copyright
  text-transform: uppercase
  letter-spacing: 0.8px
